<!DOCTYPE html>
<html lang="en">
{% extends 'bootstrap/base.html' %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


{% block content %}

    <link href="/static/style.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
</head>


<body class="index-body">
{% if not current_user.is_authenticated %}
<h1 class="main-message">Hello! Looks like you are not logged in yet.</h1>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h2 class="main-message">{{ message }}</h2>


        {% endfor %}
        {% endif %}
        {% endwith %}
    <br>

<div class="clearfix">
     <div class = "buttons">
    <a class="btn btn-primary btn-lg float-right" href="{{url_for('login')}}">Login</a>
    <a class="btn btn-primary btn-lg float-right" href="{{url_for('register')}}">Register</a>
    </div>
    {% endif %}
{% if current_user.is_authenticated %}
    <h1 class="main-message">Hello! Nice to see you {{ current_user.username }}!</h1>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h2 class="main-message">{{ message }}</h2>


        {% endfor %}
        {% endif %}
        {% endwith %}
    <br>
    <div class = "buttons">
    <a class="btn btn-primary btn-lg float-right" href="{{url_for('logout')}}">Logout</a>
    <a class="btn btn-primary btn-lg float-right" href="{{url_for('change_password')}}">Change your password</a>
    <a class="btn btn-primary btn-lg float-right" href="{{url_for('add_password')}}">Add new password</a>
    <a class="btn btn-primary btn-lg float-right" href="{{url_for('show_passwords')}}">Show my passwords</a>
    </div>
{% endif %}
</div>
</body>
{% endblock %}
</html>