{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}



{% block content %}

    <link href="/static/style.css" rel="stylesheet">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body class="masthead login-body">

    <!-- Page Header -->
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Here are your passwords:</h1>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">

            {% if passwords %}
                {% for password in passwords %}
                    <p class="passwords"> Domain name: {{ password.domain_name }} Password: {{ password.password }}
                        Author: {{ password.author }}
                        <a class="btn btn-primary float-right"
                           href="{{ url_for('share_password', password_id=password.id) }}">Share password</a></p>


                {% endfor %}
            {% endif %}


        </div>
    </div>
    </body>
{% endblock %}
