{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}



{% block content %}
    <link href="/static/style.css" rel="stylesheet">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="masthead register-body">

  <!-- Page Header -->
  <header >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <span class="subheading">Have all your passwords secured in one place!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p style="color: red">{{ message }}</p>


        {% endfor %}
        {% endif %}
        {% endwith %}
      <div class="col-lg-8 col-md-10 mx-auto">

       {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

      </div>
    </div>
  </div>
</body>
{% endblock %}