{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}

<link href="/static/style.css" rel="stylesheet">

    <head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body class="masthead login-body">

  <!-- Page Header -->
  <header class="masthead" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Here you can share your passwords with trusted people!</h1>
            <span class="subheading">Remember, you can't take it back.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>


        {% endfor %}
        {% endif %}
        {% endwith %}

      <div class="col-lg-8 col-md-10 mx-auto content">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>

  </div>
  </div>
</body>


{% endblock %}